*{
    padding: 0;
    margin: 0;
}
#allBox{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#toDoTask{
    width: 50vw;
}
